name: CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/user-service:${GITHUB_SHA::7} .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/user-service:${GITHUB_SHA::7}

      - name: Update GitOps Repo
        run: |
          git clone https://${{ secrets.GITOPS_TOKEN }}@github.com/adm-l/gitops-repo.git
          cd gitops-repo

          sed -i "s|image: .*user-service:.*|image: ${{ secrets.DOCKER_USERNAME }}/user-service:${GITHUB_SHA::7}|g" user-service/deployment.yaml

          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Update user-service image to ${GITHUB_SHA::7}"
          git push
