name: CI

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Image
        run: |
          docker build -t localhost:5000/user-service:${GITHUB_SHA::7} .
          docker push localhost:5000/user-service:${GITHUB_SHA::7}
